{% extends 'app/layouts/default.html' %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Nos Clients</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Gestion Location Matériel</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- button insert -->
    
    <center>
        
            <a href="{% url 'clients_create' %}" class="btn btn-primary">Nouveau Client</a>
    </center>
    

    <div class="card-body">

        <!-- messages -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fas fa-alert mr-1"></i>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <table id="example1" class="table table-bordered table-hover">
            <style>

            </style>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nom </th>
                    <th>Adresse </th>
                    <th>N° Téléphone </th>
                    <th>Concerné </th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>

                    <td>{{client.id}}</td>
                    <td>{{client.NomClient}}</td>

                    <td>{{client.Adresse}}</td>
                    <td>{{client.Telephone}}</td>
                    <td>{{client.Email}}</td>
                    <td>{{client.responsable.responsable}}</td>

                    <td>
                        
                        <a class="btn btn-success btn-sm" href="{% url 'clients_edit' client.id %}">
                            <span class="fas fa-edit"></span>
                           
                        </a>
                        
                        <a class="btn btn-danger btn-sm" onclick="return confirm('Voulez-vous supprimer!!' )"
                            href="{% url 'clients_delete' client.id %}">
                            <span class="fas fa-trash"></span>
                            
                        </a>
                       

                    </td>


                </tr>
                {% endfor %}

            </tbody>

        </table>
     <!--  printing -->
 <div class="row no-print">
       
    <button  class="btn btn-primary" onclick="printFun()" ><i class="fas fa-print"></i> Print</button>
   
</div>
<!-- /.printing -->


        <!-- card-body -->
    </div>

    
    <script type="text/javascript">
        function printFun() {
        window.print();
        }
        </script>


    <!-- fin content-wrapp -->
</div>

{% endblock %}