{% extends 'app/layouts/default.html' %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Enregistrement</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Enregistrement</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-10">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                            <div class="card-header">
                            <h3 class="card-title">Enregistrer Detail Commande</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form enctype="multipart/form-data" action="{% url 'detailcommandes_store' %}" method="post">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label for=""> Code</label>
                                                <select name="commande" class="form-control">
                                                    <option value="{{commandes.id}}">
                                                        {{commandes.CodeCommande}}
                                                    </option>
                                                </select>
                                                    <div class="form-group">
                                                    {{ form.materiels|as_crispy_field }}
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    {{ form.responsable|as_crispy_field }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.typeoper|as_crispy_field }}
                                                </div>
                                            </div>

                                        <div class="col-md-5">
                                            <div class="form-group">
                                                {{ form.Quantite|as_crispy_field }}
                                            </div>

                                            <div class="form-group">
                                                {{ form.PrixUnit|as_crispy_field }}
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="form-group">
                                                {{ form.NombreJour|as_crispy_field }}
                                            </div>

                                            
                                        </div>
                                    </div>    
                                  
                                    <!-- row interieur -->
                                </div>
                             <!-- /.card-body -->
                                <center>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                                    </div>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
        <!-- /.container-fluid -->
    </section>
        <!-- /.content -->

        <!-- /.content-wrapper -->
</div>
{% endblock %}
